<a href="https://colab.research.google.com/github/ChristianBrener/house-machinelearning/blob/main/house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [7]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lr
from sklearn import model_selection as ms
from sklearn import metrics as m
from sklearn.tree import DecisionTreeRegressor

# Loading data

In [4]:
df_raw = pd.read_csv('kc_house_data.csv')

#Data prepareation

In [5]:
x = df_raw.drop(['date','price'], axis=1)
y = df_raw['price']

x_train, x_test, y_train, y_test = ms.train_test_split(x, y, test_size=0.2, random_state=42)
y_train.head()

6325     325000.0
13473    257000.0
17614    228500.0
16970    288000.0
20868    479000.0
Name: price, dtype: float64

#Model train

In [8]:
#train
model_lr = DecisionTreeRegressor(random_state=1)
model_lr.fit(x_train, y_train)

# prediction train
pred_train = model_lr.predict(x_train)
# prediction test
pred_test = model_lr.predict(x_test)

#Performance metrics

In [9]:
#train mae mape
mae_train = m.mean_absolute_error (y_train, pred_train)
mape_train = np.mean(np.abs((y_train - pred_train) * 100/y_train  ))
#test mae mape
mae_test = m.mean_absolute_error (y_test, pred_test)
mape_test= np.mean(np.abs( ( y_test - pred_test ) * 100/y_test ))

In [10]:
data =  {
    'Dataframe': ['Training', 'Test'],
    'Mae': [mae_train, mae_test],
    'Mape': [mape_test, mape_test]
}
pd.DataFrame(data)

  Dataframe            Mae       Mape
0  Training     941.895547  19.128065
1      Test  105848.171756  19.128065